@charset "UTF-8";
@media screen and (min-width: 700px) {
    /* body */
    /* /body */

    /* header */
    header > h1{font-size: 4em;}
    header > p{font-size: 1.3em;}
    /* /header */

    /* main */
    main > h1{font-size: 2em;}
    main > form > {width: 100%;}
    /* /main */

    /* footer */
    /* /footer */
}