@charset "UTF-8";

/* Mobile First */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
    min-width: 250px;
    position: relative;
}
body{
    background: black url(../../image/back-phone.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 2%;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, p{
    text-align: center;
    color: white;
    text-shadow: 1.5px 1.5px 4px black;
}
img{
    padding: 20% 0px;
    margin: auto;
}
.phone{display: block;}
.tablet{display: none;}
.pc{display: none;}
.print{display: none;}
.tv{display: none;}

@media screen and (orientation: landscape) {
    html, body{height: 600px;}
    img{padding: 8% 0px;}
}