@charset "UTF-8";

/* body */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: gainsboro;
}

/* /body */


/* header */

header{
    margin: 0px;
    background-color: rgb(245, 248, 47);
}
#title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 4% 0px;
}
#menu{
    display: flex;
    list-style: none;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
}
#menu > li{
    width: 100%;
    text-align: cent;
}

/* /header */


/* main */

main{
    width: 96%;
    margin: 1% auto;
    background-color: whitesmoke;
    border-radius: 2%;
}
main > h1{
    font-size: 1.45em;
    padding: 3% 0 2%;
    text-align: center;
}
main > p{
    width: 100%;
    text-indent: 3%;
    font-size: 0.9em;
    padding: 3% 5%;
}
/* /main */